---
name: "build images"

on: [push, pull_request]

jobs:
  docker-build:
    strategy:
      matrix:
        BASE_IMG_TAG: [
          cuda-11.3.1-pytorch-1.12.0-torchvision-0.12.0-torchaudio-0.11.0-ubuntu-20.04,
          cuda-11.3.1-pytorch-1.11.0-torchvision-0.12.0-torchaudio-0.11.0-ubuntu-20.04,
          cuda-11.6.1-pytorch-1.12.0-torchvision-0.12.0-torchaudio-0.11.0-ubuntu-20.04,
          cuda-11.6.1-pytorch-1.11.0-torchvision-0.12.0-torchaudio-0.11.0-ubuntu-20.04,
          cuda-11.7.1-pytorch-1.13.0-torchvision-0.13.0-torchaudio-0.13.0-ubuntu-20.04,
          cuda-11.8.0-pytorch-1.13.0-torchvision-0.14.0-torchaudio-0.13.0-ubuntu-22.04,
          ]

    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Set REPO_NAME_LC
        run: echo "REPO_NAME_LC=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Set ON_MAIN_FORK_AND_BRANCH
        run: echo "ON_MAIN_FORK_AND_BRANCH=$([ "$GITHUB_REPOSITORY" == "walkerlab/pytorch-jupyter" ] && [ "$GITHUB_REF_NAME" == "main" ] &&  echo true || echo false)" >> $GITHUB_ENV  # If it is from the main fork and is main branch

      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        if: env.ON_MAIN_BRANCH == 'true'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          build-args: |
            BASE_IMG_NAME=walkerlab/pytorch:${{ matrix.BASE_IMG_TAG }}
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ env.ON_MAIN_FORK_AND_BRANCH == 'true' }}
          tags: ghcr.io/${{ env.REPO_NAME_LC }}:cuda-${{ matrix.CUDA_VER }}-pytorch-${{ matrix.TORCH_VER }}-torchvision-${{ matrix.TORCHVISION_VER }}-torchaudio-${{ matrix.TORCHAUDIO_VER }}-ubuntu-${{ matrix.UBUNTU_VER }}
          labels: ${{ steps.meta.outputs.labels }}